<nav
  class="navbar navbar-expand-lg navbar-info"
  style="background-color: #e3f2fd;"
>
<div><h4 style="color:darkblue">GRASSHOPPER.Co</h4></div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/register">Register</a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link" routerLink="/create">Create Employee</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button
        type="submit"
        class="btn"
        style="background-color: teal; color:white;"
        routerLink="/login"
      >
        Logout
      </button>
    </form>
  </div>
</nav>

<div class="card card-primary" *ngFor="let e of employeeService.employees">
  <div class="card-heading bg-info mb-3">
    <h4 class="card-title">{{ e.fullName }}</h4>
  </div>
  <div class="card-body">
    <div class="col-xs-10">
      <div class="verical-align" class="row">
        <!--<div class="col-xs-4">
          <img class="imageClass" [src]="e.photoPath" />
        </div>-->
        <div style="margin-left: 70px" class="col-xs-8">
          <div class="row">
            <div class="col-xs-6">Employee ID</div>
            <div style="margin-left: 123px" class="col-xs-6">: {{ e._id }}</div>
            <button
              (click)="onSelect(e)"
              type="submit"
              class="btn"
              style="background-color: teal;margin-left: 167px; color:white;"
              routerLink="/empdetail/e.id"
            >
              Detail
            </button>
          </div>
          <!--<div class="row">
            <div class="col-xs-6">Gender</div>
            <div style="margin-left: 160px" class="col-xs-6">
              : {{ e.gender }}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">Contact Preferences</div>
            <div style="margin-left: 72px" class="col-xs-6">
              : {{ e.contactPreference }}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">Email</div>
            <div style="margin-left: 175px" class="col-xs-6">
              : {{ e.email }}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">Phone Number</div>
            <div style="margin-left: 105px" class="col-xs-6">
              : {{ e.phoneNumber }}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">Date Of Birth</div>
            <div style="margin-left: 120px" class="col-xs-6">
              : {{ e.dateOfBirth | date}}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">Department</div>
            <div style="margin-left: 127px" class="col-xs-6">
              : {{ e.department }}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">Status</div>
            <div style="margin-left: 167px" class="col-xs-6">
              : {{ e.isActive }}
              
            </div>
          </div>-->
        </div>
      </div>
    </div>
  </div>
</div>
