<nav
  class="navbar navbar-expand-lg navbar-info"
  style="background-color: #e3f2fd;"
>
<div><h4 style="color:darkblue">GRASSHOPPER.Co</h4></div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/list">Employee List </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/create">Create Employee</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button
        type="submit"
        class="btn"
        style="background-color: teal; color:white;"
        routerLink="/login"
      >
        Logout
      </button>
    </form>
  </div>
</nav>
