<div class="window">
  <div class="overlay"></div>
  <div class="content">
    <div class="welcome">Hello There!</div>
    <div class="subtitle">Sign in to get access to Employee Directory</div>
    <div class="input-fields">
      <input type="text" placeholder="Username" class="input-line full-width" />
      <input type="email" placeholder="Email" class="input-line full-width" />
      <input
        type="password"
        placeholder="Password"
        class="input-line full-width"
      />
    </div>
    <button type="button" class="btn btn-lg" style="background-color:blueviolet">Sign In</button>
  </div>
</div>
